{
  "presets": ["@babel/preset-flow", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
