.DemoObject-container {
  overflow: hidden;
  text-align: left;
  position: fixed;
}

@media (min-width: 640px) {
  .DemoObject-container {
    position: relative;
    text-align: center;
  }
}

.demo-logo {
  width: 90%;
  overflow: hidden;
  display: inline-block;
}

.demo-small-logo {
  width: 20%;
  overflow: hidden;
  display: inline-block;
}

.demoObject-title {
  margin-bottom: 20px;
  font-size: 20px !important;
  color: #797979 !important;
}
